/* For Desktop */
.col-1 {width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width:91.66%;}
.col-12{width: 100%;}
*{
    box-sizing: border-box;
}
.main-div{
   margin: 2% 5%;
}
.image-div img{
    width:470px

}
.title{
    margin-left: 90px;
}
.underline{
    width: 500px;
    border-bottom: none;
}
.skill-logo{
    margin-left: 55px;
}
.main-div::after{
    content: '';
    display: table;
    clear: both;
}
.education{
    margin-top: 0px;
    margin-left: 20px;
    padding-left: 40px;

}
.eduline{
    width: 750px;
    border-bottom: none;
    
}
.work {
    max-width: 100%;
    
   margin-top: 40px;
}

.work .work-slide img{
    max-width: 33.33%;
    max-height: 500px;
    float: left;
    padding: 20px;
}